[submodule "Middlewares/Eclipse/threadx"]
	path = Middlewares/Eclipse/threadx
	url = https://github.com/eclipse-threadx/threadx.git
[submodule "Middlewares/Eclipse/usbx"]
	path = Middlewares/Eclipse/usbx
	url = https://github.com/eclipse-threadx/usbx.git
